[*.{cs,vb}]

dotnet_diagnostic.SA1600.severity = error
dotnet_diagnostic.SA1601.severity = error

# CS1591: Falta el comentario XML para el tipo o miembro visible públicamente
dotnet_diagnostic.CS1591.severity = none
